.form-summit {
    background-color: rgba(167, 85, 85, 0.322);

    padding-bottom: 2%;

    height: 10%;

}

.form-summit .item {

    display: inline-block;
    margin: 2% 2% 2% 2%;
    width: 13%;
    height: 3vh;



}

.form-summit .item>input {
    outline: none;
    border: none;
    width: 100%;
    display: block;
    margin: auto;
    height: 100%;

}


.form-summit>button {
    display: block;
    margin-left: 65%;
    background-color: rgba(167, 85, 85, 0.781);
    border: none;
    border-radius: 7%;
    outline: none;
    width: 10.5%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    height: 5vh;
    box-shadow: 3px 3px 3px rgba(160, 120, 120, 0.925);
    cursor: pointer;

}

.form-summit>button:hover {
    width: 9%;
    height: 4.5vh;
    margin-bottom: 0.5vh;
}

.form-summit>button:active {
    width: 10.5%;
    height: 5vh;
    margin-bottom: 0
}